@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

:root {
    --neutral-100: hsl(10, 2%, 90%);
    --neutral-500: hsl(10, 2%, 25%);
    --neutral-900: hsl(0, 2%, 10%);
    --neon-300: hsl(190, 100%, 40%);
    --neon-200: hsl(190, 100%, 60%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    z-index: 1;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    background: var(--neutral-900);
    scroll-behavior: smooth;
    z-index: -2;
}


#background-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    width: 60%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: transparent;
    z-index: 0;
}

.background-text {
    pointer-events: none;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: "Monsterrat", sans-serif;
    font-size: 4rem;
    line-height: 3rem;
    font-weight: 900;
    color: var(--neutral-100);
    opacity: .03;
    z-index: 0;
}

header,
#navbar-container { 
    position: fixed;
    top: 0;
    width: 100%;
    height: 10rem;
    padding-top: 1em;
    z-index: 2;
    background: linear-gradient(
        hsl(0 2% 10% / 1) 25%,
        hsl(0 2% 10% / 0.8) 60%,
        hsl(0 2% 10% / 0.5) 80%,
        hsl(0 2% 10% / 0)
    );
}

#navbar {
    width: 100%;
    height: auto;
}

#nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}

.nav-item {
    width: 12em;
    padding: .5em 0;
    list-style: none;
}

.nav-link {
    display: block; /* This fixed the uniform width issue */
    cursor: pointer;
    width: 8em;
    height: auto;
    padding: .5em 1em;
    margin: 0 auto;

    font-size: .9rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: var(--neutral-100);
    text-shadow:
    0 0 0.125em var(--neon-200),
    0 0 .5em var(--neon-300);

    border: 2px solid var(--neon-300) ;
    border-radius: .5em;
    box-shadow: 
    inset 0 0 0.5em 0 var(--neon-300),
    0 0 0.5em 0 var(--neon-300);
}

/* welcome/hero section */

#welcome-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4em 4em;
    grid-template-areas:
        "name"
        "subtitle";
    grid-gap: 0;
    width: 100%;
    min-height: 100vh;
    padding: 42vh 1rem;
    background: transparent;
}

#name-container {
    grid-area: name;
    justify-self: center;
    align-self: end;
    text-align: center;
    padding: 0;
    margin: 0;
}

#name {
    justify-self: center;
    font-family: "Monsterrat", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    padding: 0;
    margin: 0;
    color: var(--neutral-100);
}

#subtitle-container {
    grid-area: subtitle;
    align-self: start;
    text-align: center;
}

#subtitle {
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: var(--neutral-100);
}


/* graphic */

#graphic-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(0.40) translate(-50%, -50%);
    background: transparent;
    opacity: 0.2;
}

.ring {
    position: absolute;
    width: 38rem;
    height: 20rem;
    background: transparent;
    border: .75rem solid var(--neutral-100);
    border-radius: 50%;
    z-index: 2;
}

#ring1 {
    transform: translate(-50%, -50%) rotate(120deg);
    top: 50%;
    left: 50%;
}

#ring2 {
    transform: translate(-50%, -50%) rotate(240deg);
    top: 50%;
    left: 50%;
}

#ring3 {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#nucleus {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 28rem;
    height: 28rem;

    background: transparent;
    border: 1.5rem solid var(--neon-300);
    border-radius: 50%;
    box-shadow: 
    inset 0 0 3em 0 var(--neon-300),
    0 0 2em 0 var(--neon-300);
}

/* projects section */

#projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, minmax(20rem, 20rem));
    justify-items: center;
    gap: 1.5em;
    padding: 10em 2em 6em 2em;
}

.project-tile {
    width: 16rem;
    height: 20rem;
    padding-top: 10em;
    color: var(--neutral-100);
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 0 10px var(--neutral-500);
    transition: 400ms ease;
}

.tile-content {
    width: 100%;
    height: 11rem;
    font-size: 0.75em;
    padding: .5em 1em 3em 1em;
    background: linear-gradient(
        hsl(0 2% 10% / 0),
        hsl(0 2% 10% / 0.8) 20%,
        hsl(0 2% 10%/ 1)
    );
}

.tile-body {
    padding-bottom: .5rem;
}

.btn {
    cursor: pointer;
    font-size: 1em;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: var(--neutral-100);
    text-shadow:
    0 0 0.125em var(--neon-200),
    0 0 .5em var(--neon-300);

    border: var(--neon-300) 2px solid;
    padding: .25em 1em;
    border-radius: .5em;
    box-shadow: 
    inset 0 0 0.5em 0 var(--neon-300),
    0 0 0.5em 0 var(--neon-300);

}

.btn:focus {
    outline: none;
}

#tile1 {
    background-image: url("images/odin-rpsls.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#tile2 {
    background-image: url("images/calc.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#tile3 {
    background-image: url("images/sketch.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#tile4 {
    background-image: url("images/weather.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#tile5 {
    background-image: url("images/tabeyou.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#tile6 {
    background-image: url("images/watermy.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#tile7 {
    background-image: url("images/form.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#tile8 {
    background-image: url("images/docs.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



/* social/about section */

#social-section {
    width: 100%;
}

#social-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: auto;
    padding: 12rem 3rem 6rem 3rem;

}

#social-text-container {
    font-family: "Poppins", sans-serif;
    color: var(--neutral-100);
    text-align: center;
}

.social-heading {
    font-size: 2rem;
    font-weight: 700;
    text-shadow:
    0 0 0.125em var(--neutral-500),
    0 0 .25em var(--neon-300);
}

.social-subheading {
    font-size: 1.5rem;
    font-style: italic;
}

.social-text {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

#cta {
    font-size: 2.5rem;
    color: var(--neon-300);
    text-shadow:
    0 0 0.125em var(--neutral-500),
    0 0 0.125em var(--neon-300);
}

#social-link-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.social-link-container {
    display: flex;
    justify-content: center;
    width: 12em;
    max-width: 90%;
    background: transparent;
    padding: 1em 0;
 
}

.social-link {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 80%;
    height: 3em;
    border: var(--neon-300) 2px solid;
    padding: 0.5em 1em 0.75em 1em;
    text-align: center;
    text-decoration: none;
    border-radius: .75em;
    box-shadow: 
    inset 0 0 0.5em 0 var(--neon-300),
    0 0 0.5em 0 var(--neon-300);
}

.social-link:focus {
    outline: none;
}

.social-img {
    
    width: 1.25em;
    height: auto;
    margin-right: .75em;

    /*
    width: 2em;
    height: auto;
    margin-right: 1em;
    */
}

.social-link-label {
    color: var(--neutral-100);
    font-size: 1em;
    margin-top: 1.5em;

    /*
    font-size: 1.5em;
    */
}


/* form section */

#contact-section {
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 6rem 1rem;
    z-index: 1;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 7em 2em 5em 2em;
    color: var(--neutral-100);
    z-index: 1;
}

#contact-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact-name-container,
#email-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.form-label {
    width: 100%;
    height: auto;
    font-weight: 500;
}

.form-input {
    width: 100%;
    max-width: 100%;
    padding: .5em;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    color: var(--neutral-100);
    border-radius: .35rem;
    background: transparent;
    box-shadow: 0 2px 0 0 var(--neon-300);
    border-style: hidden;
 
    z-index: 1;
    transition: 250ms ease;
}

.form-input::placeholder {
    color: var(--neutral-100);
    opacity: .6;
}

.form-input:focus-within {
    background:hsl(0 2% 10% / 0.8);
    box-shadow:
    0 0 0 2px var(--neon-300),
    inset 0 0 .5em 0 var(--neon-300),
    0 0 .75em 0 var(--neon-300);
    outline: none;
    /*outline: 2px solid var(--neon-300);*/
}

input {
    height: 2.5rem;
}

textarea {
    margin-bottom: 1rem;
}

#submit {
    height: 2.5rem;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    background: transparent;

    color: var(--neutral-100);
    text-shadow:
    0 0 0.125em var(--neon-200),
    0 0 .5em var(--neon-300);

    border: var(--neon-300) 2px solid;
    padding: .25em 1em;
    border-radius: .5em;
    box-shadow: 
    inset 0 0 0.5em 0 var(--neon-300),
    0 0 0.5em 0 var(--neon-300);
    z-index: 1;
}

#footer {
    padding: 1em;
    text-align: center;
    color: var(--neutral-100);
}

#footer a {
    text-decoration: none;
    color: var(--neon-300);
}



/* navbar */

@media (min-width: 480px) {
    #nav-list {
        flex-direction: row;
        padding-top: 1.5em;
    }

    .nav-link {
        font-size: 1rem;
    }
}

@media (min-width:900px) {

    #nav-list {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav-item {   
    display: inline-block;
   
    }

    .nav-link {
        position: relative;
        font-size: 1.375rem;
        padding: .25em 1em;
        transition: 200ms ease-in-out;
    }

    .nav-link::before {
        pointer-events: none;
        content: "";
        position: absolute;
        background: var(--neon-300);
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
    
        transform: perspective(1.25em) rotateX(40deg) scale(1, .35);
        filter: blur(1.25em);
        opacity: 0.6;
        transition: opacity 200ms linear;
    
    }
    
    .nav-link:hover,
    .nav-link:focus {
        text-shadow:
        0 0 0.25em var(--neon-200),
        0 0 1em var(--neon-300);
        outline: none;
    }
    
    .nav-link:hover::before,
    .nav-link:focus::before {
        opacity: 1;
    }

}


/* background text */

@media (min-width: 480px) {
    .background-text {
        font-size: 6rem;
        line-height: 4.5rem;
        margin: 0;
    }
}

@media (min-width: 600px) {
    #background-container {
        width: 100%;
        max-width: 100%;
    }
    
    .background-text {
        font-size: 5.25rem;
        line-height: 4rem;
    }
}

@media (min-width: 768px) { 
    .background-text {
        font-size: 6.5rem;
        line-height: 5rem;
    }
}

@media (min-width: 900px) {
    .background-text {
        font-size: 7.75rem;
        line-height: 6rem;
    }
}

@media (min-width: 1200px) {
    .background-text {
        font-size: 10.5rem;
        line-height: 8rem;
    }
}

@media (min-width: 1500px) {
    .background-text {
        font-size: 13rem;
        line-height: 10rem;
    }
}

/* welcome/hero section */

@media (min-width: 480px) {
    #graphic-container {
        transform: scale(0.65);
        opacity: 0.6;
    }
}

@media (min-width: 600px) {
    #welcome-section {
        padding-top: 45vh;
    }
    
    #graphic-container {
        transform: scale(0.85);
        opacity: 0.6;
    }

    #name {
        font-size: 2.5rem;
    }

    #subtitle {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) { 
    #welcome-section {
        padding: 42vh 1em;
    }
    #graphic-container {
        transform: scale(1);
        opacity: 0.6;
    }

    #name {
        font-size: 3rem;
    }

    #subtitle {
        font-size: 2rem;
        margin-top: -0.5rem;
    }
}

@media (min-width: 900px) {
    #welcome-section {
        padding: 45vh 1em;
    }
    #graphic-container {
        transform: scale(1.2);
        opacity: 0.6;
    }

    #name {
        font-size: 3.5rem;
    }

    #subtitle {
        font-size: 2.25rem;
        margin-top: -0.5rem;
    }
}

@media (min-width: 1200px) {
    #welcome-section {  
        position: relative; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "name graphic"
            "subtitle graphic";
        grid-gap: 0;
        width: 100%;
    }

    #graphic-container {
        grid-area: graphic;
        transform: scale(1);
        opacity: 0.8;
    }

    #name-container {
        grid-area: name;
        justify-self: left;
        align-self: baseline;
        text-align: left;
        width: 100%;
        min-width: 100%;
        padding: 0;
        margin: 0;
    }

    #name {
        padding-left: 2rem;
        font-size: 5rem;
        line-height: 5rem;
    }

    #subtitle {
        align-self: start;
        text-align: left;
        padding-left: 2rem;
        font-size: 3rem;
        margin-top: -0.5rem;
    }
}

@media (min-width: 1500px) {
    html {
        overflow-x: hidden;
    }
    
    #graphic-container {
        transform: scale(2);
        padding-left: 45vw;
    }

    #name-container {
        width: 100%;
    }

    #name {
        padding-left: 10vw;
        font-size: 6rem;
        line-height: 6rem;
    }

    #subtitle {
        padding-left: 10vw;
        font-size: 3.5rem;
    }
}

/* tiles */

@media (max-width: 360px) {
    .project-tile {
        transform: scale(.92);
    }
}

@media (min-width: 480px) {
    #projects {
        grid-gap: 3em;
    }
    
    .project-tile {
        width: 20rem;
        height: 20rem;
        transform: scale(1);
    }
}

@media (min-width: 600px) {
    
    #projects {
        grid-template-rows: repeat(auto-fill, minmax(22rem, 22rem));
    }
    
    .project-tile {
        width: 22rem;
        height: 22rem;
        padding-top: 12rem;
        transform: scale(1);
    }
}

@media (min-width: 768px) {
    
    #projects {
        grid-template-rows: repeat(auto-fill, minmax(28rem, 28rem));
        grid-gap: 3em;
    }
    
    .project-tile {
        width: 25rem;
        height: 28rem;
        padding-top: 14.5em;
        transform: scale(1);
    }

    .tile-content {
        height: 15rem;
        font-size: 1em;
        padding: 1em 1.5em 2.5em 1.5em;
    
    }

    .btn {
        font-size: 1.125em;
    }
}

@media (min-width: 1200px) {
    #projects {
        grid-template-columns: repeat(auto-fill, minmax(25rem, 25rem));
        grid-template-rows: repeat(auto-fill, minmax(28rem, 28rem));
        grid-gap: 4em;
        justify-content: center;
    }
    
    .tile-content {
        transform: translateY(58%);
        transition: transform 400ms ease;
    }

    
    .project-tile:hover,
    .project-tile:focus-within {
        transform: scale(1.03);
    }
    .project-tile:hover .tile-content {
        transform: translateY(0%);
    }

}

/* social section */

@media (min-width: 600px) {
    #social-link-wrapper {
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .social-heading {
        font-size: 3rem;
    }
    
    .social-subheading {
        font-size: 2.25rem;
    }
    
    .social-text {
        font-size: 2rem;
    }

    #cta {
        font-size: 3.75rem;
    }

    .social-link {
        font-size: 1.25rem;
    }
}

@media (min-width: 900px) {
    .social-link-container {
        width: 20em;
        max-width: 100%;
        padding: 1.25em 1.5em;
    }

    .social-link {    
        height: 3.5em;    
        padding: 0.5em 2em;
    }

    .social-img {
        width: 1.625em;
    }

    .social-link-label {
        font-size: 1.25em;
    }
}

/* contact form */

@media (min-width: 480px) {
    #contact-form {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media (min-width: 600px) {
    #contact-form {
        max-width: 85%;
    }

    #submit {
        height: 2.75rem;
        font-size: 1.125rem;
    }
}

@media (min-width: 768px) {
    #contact-info-container {
        flex-direction: row;
    }

    #contact-name-container {
        width: 40%;
    }

    #email-container {
        width: 55%;
    }

    .form-label {
        font-size: 1.25rem;
    }

    #submit {
        height: 3rem;
        font-size: 1.25rem;
    }
}

@media (min-width: 1200px) {
    #contact-form {
        max-width: 65%;
    }
}

@media (min-width: 1500px) {
    #contact-form {
        max-width: 50%;
    }
}