@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --neutral-100: hsl(10, 2%, 90%);
    --neutral-900: hsl(0, 2%, 10%);
    --neon-300: hsl(190, 100%, 40%);
    --neon-200: hsl(190, 100%, 60%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    max-width: 100%;
    height: auto;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    background: var(--neutral-900);
}


#background-container {
    width: 100%;
    height: auto;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.background-text {
    width: 100%;
    font-family: "Monsterrat", sans-serif;
    font-size: 8rem;
    line-height: 0;
    font-weight: 900;
    color: var(--neutral-100);
    opacity: .02;
}

header,
#navbar-container {
    width: 100%;
    position: fixed;
    z-index: 3;
}

#navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 2em;
    background: linear-gradient(
        hsl(0 2% 10% / 1) 25%,
        hsl(0 2% 10% / 0.8) 60%,
        hsl(0 2% 10% / 0.5) 80%,
        hsl(0 2% 10% / 0)
        );
}

.nav-item {
    display: inline-block;
    list-style: none;
    padding: 2em 4em;
    /*margin-left: 4rem;*/
}

.nav-link {
    position: relative;
    cursor: pointer;

    font-size: 1.5rem;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: var(--neon-300);
    text-shadow:
    0 0 0.125em var(--neon-200),
    0 0 .5em var(--neon-300);

    border: var(--neon-300) 2px solid;
    padding: .25em 1em;
    border-radius: .5em;
    box-shadow: 
    inset 0 0 0.5em 0 var(--neon-300),
    0 0 0.5em 0 var(--neon-300);
    
    transition: 200ms ease-in-out;
}

.nav-link::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--neon-300);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, .35);
    filter: blur(1em);
    opacity: 0.6;
    transition: opacity 200ms linear;

}

.nav-link:hover {
    text-shadow:
    0 0 0.25em var(--neon-200),
    0 0 1em var(--neon-300);
}

.nav-link:hover::before,
.nav-link:focus::before {
    opacity: 1;
}


#welcome-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "name graphic"
        "subtitle graphic";
    grid-gap: 0;
    width: 100%;
    min-height: 100vh;
    padding: 2em 3em;
    background: transparent;
}

#name-container {
    grid-area: name;
    align-self: end;
    margin-bottom: -5rem;
}

#name {
    font-family: "Monsterrat", sans-serif;
    font-size: 5rem;
    font-weight: 900;
    color: var(--neutral-100);
}

#subtitle-container {
    grid-area: subtitle;
    align-self: start;
    margin-top: -1em;
}

#subtitle {
    grid-area: subtitle;
    font-family: "DM Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 100;
    color: var(--neutral-100);
}


/* graphic */

#graphic-container {
    grid-area: graphic;
    position: relative;
}

.ring {
    position: absolute;
    width: 38rem;
    height: 20rem;
    border: .75rem solid var(--neutral-100);
    border-radius: 50%;
    z-index: 2;
}

#ring1 {
    transform: translate(-50%, -50%) rotate(120deg);
    top: 50%;
    left: 50%;
}

#ring2 {
    transform: translate(-50%, -50%) rotate(240deg);
    top: 50%;
    left: 50%;
}

#ring3 {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#nucleus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28rem;
    height: 28rem;
    background: linear-gradient(to top left, var(--neon-300), var(--neutral-900));
    border-radius: 50%;
}

#projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 20rem));
    grid-template-rows: repeat(auto-fill, minmax(25rem, 25rem));
    grid-gap: 4em;
    justify-content: center;
    padding: 3em;
}

.project-tile {
    width: 20rem;
    height: 25rem;
    background: var(--neon-300);
    padding: 1em;
    border-radius: 0.5em;
    transition: transform 200ms ease-in-out;
}

.project-tile:hover,
.project-tile:focus {
    transform: scale(1.02);
}

/* background text */
@media (min-width: 480px) {
    .background-text {
        line-height: 6.5rem;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .background-text {
        font-size: 7rem;
        line-height: 5.5rem;
    }
}

@media (min-width: 900px) {
    .background-text {
        font-size: 7.75rem;
        line-height: 6rem;
    }
}

@media (min-width: 1200px) {
    .background-text {
        font-size: 10.5rem;
        line-height: 8rem;
    }
}

@media (min-width: 1500px) {
    .background-text {
        font-size: 12rem;
        line-height: 9.5rem;
    }
}
