@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --neutral-100: hsl(10, 2%, 90%);
    --neutral-900: hsl(0, 2%, 10%);
    --neon-1: hsl(190, 100%, 40%);
    --neon-2: hsl(190, 100%, 80%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    max-width: 100%;
    height: auto;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    background: var(--neutral-900);
}


#background-container {
    width: 100%;
    height: auto;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.background-text {
    width: 100%;
    font-family: "Monsterrat", sans-serif;
    font-size: 8rem;
    line-height: 0;
    font-weight: 900;
    color: var(--neutral-100);
    opacity: .02;
}

header,
#navbar-container {
    width: 100%;
}

#navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav-item {
    display: inline-block;
    list-style: none;
    padding: 2rem 4rem;
    /*margin-left: 4rem;*/
}

.nav-link {
    position: relative;
    font-size: 1.5rem;
    font-family: "Monsterrat", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--neon-1);
    cursor: pointer;
    transition: 200ms ease-in-out;
    text-shadow:
    0 0 0.125em var(--neon-2),
    0 0 1em var(--neon-1);
}

.nav-link::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--neon-1);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1.5em) rotateX(40deg) scale(1, .5);
    filter: blur(.6em);
    opacity: 0.6;
    transition: opacity 200ms linear;

}


.nav-link:hover::before,
.nav-link:focus::before {
    opacity: 1;
}


#name {
    font-family: "DM Sans", sans-serif;
    font-size: 2rem;
    color: var(--neutral-100);
}

#welcome-section {
    width: 100%;
    min-height: 100vh;
    background: transparent;
}

/* background text */



@media (min-width: 480px) {
    .background-text {
        line-height: 6.5rem;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .background-text {
        font-size: 7rem;
        line-height: 5.5rem;
    }
}

@media (min-width: 900px) {
    .background-text {
        font-size: 7.75rem;
        line-height: 6rem;
    }
}

@media (min-width: 1200px) {
    .background-text {
        font-size: 10.5rem;
        line-height: 8rem;
    }
}

@media (min-width: 1500px) {
    .background-text {
        font-size: 12rem;
        line-height: 9.5rem;
    }
}
