@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --neutral-100: hsl(10, 2%, 90%);
    --neutral-900: hsl(0, 2%, 10%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    max-width: 100%;
    height: auto;
    font-family: "Quicksand", sans-serif;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    background: var(--neutral-900);
}


#background-container {
    width: 100%;
    height: auto;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
}

.background-text {
    width: 100%;
    font-family: "Monsterrat", sans-serif;
    font-size: 8rem;
    line-height: 0;
    font-weight: 900;
    color: var(--neutral-100);
    opacity: .02;
}


#name {
    font-family: "DM Sans", sans-serif;
    font-size: 2rem;
    color: var(--neutral-100);
}

#welcome-section {
    width: 100%;
    min-height: 100vh;
    background: transparent;
}

/* background text */



@media (min-width: 480px) {
    .background-text {
        line-height: 6.5rem;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .background-text {
        font-size: 7rem;
        line-height: 5.5rem;
    }
}

@media (min-width: 900px) {
    .background-text {
        font-size: 7.75rem;
        line-height: 6rem;
    }
}

@media (min-width: 1200px) {
    .background-text {
        font-size: 10.5rem;
        line-height: 8rem;
    }
}

@media (min-width: 1500px) {
    .background-text {
        font-size: 12rem;
        line-height: 9.5rem;
    }
}
